.sign-in {
  width: 368px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-right: 10px;

  .title {
    margin: 10px;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
}
